<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.falalurahman.ragamadmin">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkshopMain"
            android:label="@string/title_activity_workshop_main"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.falalurahman.ragamadmin.LoginActivity" />
        </activity>
        <activity
            android:name=".EventMain"
            android:label="@string/title_activity_event_main"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.falalurahman.ragamadmin.LoginActivity" />
        </activity>
        <activity
            android:name=".RegisteredParticipantsWorkshop"
            android:label="@string/title_activity_registered_participants_workshop"
            android:parentActivityName=".WorkshopMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.falalurahman.ragamadmin.WorkshopMain" />
        </activity>
        <activity
            android:name=".PresentParticipantsWorkshop"
            android:label="@string/title_activity_present_participants_workshop"
            android:parentActivityName=".WorkshopMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.falalurahman.ragamadmin.WorkshopMain" />
        </activity>
        <activity
            android:name=".AddWorkshopRegistration"
            android:parentActivityName=".PresentParticipantsWorkshop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.falalurahman.ragamadmin.PresentParticipantsWorkshop" />
        </activity>
        <activity
            android:name=".RegisteredParticipantsEvents"
            android:label="@string/title_activity_registered_participants_events"
            android:parentActivityName=".EventMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.falalurahman.ragamadmin.EventMain" />
        </activity>
        <activity
            android:name=".PresentTeams"
            android:label="@string/title_activity_present_teams"
            android:parentActivityName=".EventMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.falalurahman.ragamadmin.EventMain" />
        </activity>
        <activity
            android:name=".EditTeam"
            android:label="@string/title_activity_edit_team"
            android:parentActivityName=".PresentTeams"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.falalurahman.ragamadmin.PresentTeams" />
        </activity>
        <activity
            android:name=".AddEventTeamMember"
            android:parentActivityName=".EditTeam">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.falalurahman.ragamadmin.EditTeam" />
        </activity>
        <activity android:name=".RegistrationMain" />
        <activity
            android:name=".EditRegistration"
            android:label="@string/title_activity_edit_registration"
            android:parentActivityName=".RegistrationMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.falalurahman.ragamadmin.RegistrationMain" />
        </activity>
        <activity android:name=".ChangeRagamID"></activity>
    </application>

</manifest>